.tabelaHeader{
    width: 100%;
    user-select: none;
    text-align: left;
    background-color: #cac8c8;
}
.tabelaHeader th{
    height: 50px;
    padding-left: 20px;
    font-size: 1.2rem;    
}
.tabelaHeader td{
    height: 50px;
    padding-left: 20px;
}
.tabelaHeader th:last-child,
.tabelaHeader td:last-child{
    padding: 5px;
    min-width: 140px;
    text-align: center;   
}
/* checkbox */
 input[type=checkebox]:checked{
    text-decoration: line-through;
  } 